*{
    margin: 0%;
    padding: 0%;
}
h1{
    text-align: center;
    font-family:cursive;
    color: #75683b;
}
.search{
    margin-left: 10em;
    margin-top: 20px;
    
}
body{
    background-image: url(shampoo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
th{
    color:#4e451a ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1em;
}
table{
    margin-top: 3em;
    background-color: rgba(238, 238, 192, 0.37);
}
td{
    color:rgb(0, 0, 0);
    font-size:  17px;
    font-family: Tahoma;
}
#inp{
    width: 23%;
    height: 2em;
    background-color: rgb(209, 191, 174);
    
}
::placeholder{
    color: black;
    font-size: 1em;
    font-family: cursive;
}
